.logo {
  padding: 30px;
  margin: 0 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-size: cover;
}

.pivot {
  display: block;
  position: relative;
  transform-origin: center;
  animation-name: spinAnim;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.reverseSpinAnim {
  animation-name: reverseSpinAnim;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.circle {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.circle1 {
  background-size: cover;
  top: calc((50% - 24px) + 0px);
  left: calc((50% - 24px) + 64px);
}

.circle2 {
  background-size: cover;
  top: calc((50% - 24px) + 61px);
  left: calc((50% - 24px) + 20px);
}

.circle3 {
  background-size: cover;
  top: calc((50% - 24px) + 37.5px);
  left: calc((50% - 24px) - 52px);
}

.circle4 {
  background-size: cover;
  top: calc((50% - 24px) - 37.5px);
  left: calc((50% - 24px) - 52px);
}

.circle5 {
  background-size: cover;
  top: calc((50% - 24px) - 61px);
  left: calc((50% - 24px) + 20px);
}

@keyframes spinAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpinAnim {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
