.card {
  margin-top: 20px;
}

.cardImg {
  margin-top: 15px;
  width: 300px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgb(73, 73, 73) 0 0 0 1px;
  transition: ease-in 0.2s;
}

.cardImg:hover {
  box-shadow: rgb(200, 55, 27) 0 0 0 6px;
}
