.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.navigationList {
  list-style: none;
  display: flex;
}

.logo-header {
  width: 40px;
  margin: 3px 10px 0 5px;
  cursor: pointer;
}

.nav-logo {
  width: 150px;
}

/* .filter {
  width: 2.5vw;
  margin-right: 1.5vw;
}

.random {
  width: 2.5vw;
  margin-right: 1.5vw;
}

.deck {
  width: 3vw;
  margin-right: 1.5vw;
} */

/* @media only screen and (max-width: 600px) {
  .filter {
    display: none;
  }

  .logo {
    width: 30vh;
    margin-left: 5.5vw;
  }

  .random {
    width: 8vw;
    margin-right: 5vw;
  }

  .deck {
    width: 10vw;
    margin-right: 5vw;
  }
} */
