.header {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.navigationList {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 35vh;
  margin-left: 1vw;
}

.filter {
  width: 7vh;
}
