ul {
  list-style-type: none;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.socialContainer {
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3vh;
}

.linksContainer {
  padding-bottom: 1rem;
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.disclamer {
  padding: 1rem 0;
  border-top: 1px solid rgb(40, 41, 40);
  margin: 0 40px 7px 40px;
  font-size: 0.7rem;
  color: rgb(182, 182, 179);
  text-align: center;
}

.socialBtn {
  margin: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  font-size: 60px;
  outline: none;
  border: none;
  background: #000;
}

.link {
  cursor: pointer;
  margin: 0 40px;
  transition: all 0.5s ease;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.mtglogoimg {
  width: 30px;
}

.rulelogo:hover {
  background: #81b71a;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 20px #202020,
    -5px -5px 20px #202020;
}

.mtglogo:hover {
  background: rgb(165, 42, 42);
  transition: all 0.3s ease;
  box-shadow: 5px 5px 20px #202020,
    -5px -5px 20px #202020;
}

.fblogo:hover {
  background: #3b5998;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 20px #202020,
    -5px -5px 20px #202020;
}

.ytblogo:hover {
  background: #b2071d;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 20px #202020,
    -5px -5px 20px #202020;
}

.twitterlogo:hover {
  background: #00acee;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px #202020,
    -5px -5px 10px #202020;
}

.popup {
  background-color: transparent;
  margin-bottom: 9px;
  padding: 15px;
  color: #fff;
}

@media only screen and (max-width: 520px) {
  .socialBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0 20px;
    padding: 0 10px 10px 0;
    order: -1;
  }

  .socialContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 20px 10px;
    margin: 0;
  }

  .link {
    margin: 10px 0;
  }
}
