:root {
  --color-primary: #112031;
  --color-secondary: #152d35;
  --color-tertiary: #345b63;
  --color-shadow: rgb(7, 208, 248);
  --font-color: #d4ecdd;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --base-font-family: 'Open Sans', arial, sans-serif;
  --base-font-size: 16px;
  --strong-font-family: 'Gotham Narrow', arial, serif;
  --magic-font-family: 'Beleren', serif;
  --magic-font-family-small-caps: 'Beleren Small Caps', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.2rem;
}

h1,
h2 {
  font-family: var(--magic-font-family);
}

.homePage {
  background-image:
    linear-gradient(
      var(--color-tertiary),
      var(--color-secondary),
      var(--color-primary)
    );
  background-size: cover;
  color: var(--font-color);
  font-family: var(--magic-font-family);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
