:root {
  --color-primary: #112031;
  --color-secondary: #152d35;
  --color-tertiary: #345b63;
  --color-shadow: rgb(7, 208, 248);
  --font-color: #fff;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --base-font-family: 'Open Sans', arial, sans-serif;
  --base-font-size: 16px;
  --strong-font-family: 'Gotham Narrow', arial, sans-serif;
  --magic-font-family: 'Lato', sans-serif;
  --magic-font-family-small-caps: 'Beleren Small Caps', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

h1,
h2 {
  font-family: var(--magic-font-family);
}

.homePage {
  color: var(--font-color);
  font-family: var(--magic-font-family);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}
