@font-face {
  font-family: 'Gotham Narrow';
  src: url('./assets/font/Overpass-Regular.ttf');
}

@font-face {
  font-family: 'Beleren';
  src: url('./assets/font/Beleren2016-Bold.ttf');
}

@font-face {
  font-family: 'Beleren Small Caps';
  src: url('./assets/font/Overpass-Regular.ttf');
}

:root {
  --color-primary: #112031;
  --color-primary-light: #1c3552;
  --color-primary-dark: #0a121b;
  --color-secondary: #152d35;
  --color-secondary-light: #17343d;
  --color-secondary-dark: #11252c;
  --color-tertiary: #345b63;
  --color-tertiary-light: #48808b;
  --color-tertiary-dark: #1c3338;
  --font-color: #d4ecdd;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --base-font-family: 'Open Sans', arial, sans-serif;
  --base-font-size: 16px;
  --strong-font-family: 'Gotham Narrow', arial, serif;
  --magic-font-family: 'Beleren', serif;
  --magic-font-family-small-caps: 'Beleren Small Caps', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage {
  background: var(--color-primary);
  background-size: cover;
  color: var(--font-color);
  font-family: var(--magic-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--strong-font-family);
  text-transform: uppercase;
}
